<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89107206066-vlthhs6k7h07qh9ikrqhrp7sbordsbjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89107206066-vlthhs6k7h07qh9ikrqhrp7sbordsbjl</string>
	<key>API_KEY</key>
	<string>AIzaSyAYBAi1SjNr2PI86j8Ks3p4lqIe0rFCLVw</string>
	<key>GCM_SENDER_ID</key>
	<string>89107206066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fauzan.hotelifoz</string>
	<key>PROJECT_ID</key>
	<string>hotelifoz</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelifoz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89107206066:ios:14c3a0bb17d87d23561eab</string>
</dict>
</plist>